* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-logo{
    width: 100%;
    display: flex;
    border: solid 1px red;
    align-items: center;
}

.header-logo img{
    
}

.header-logo h1 {
    font-family: 'Inter', sans-serif;
    color: #C92071;
    font-weight: 600;
    font-size: 36.4px;
    line-height: 44px;
    padding: 3rem 3rem;
}

.header-search {
    height: 64px;
    background: #474747;
    opacity: 0.04;
    border-radius: 8px;
    width: 559px;
    
}




.main-header-menu {
    display: flex;
    width: 100%;
    border: solid black 1px;
}

.main-header-menu .list-menu {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 1rem 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.main-header-menu .item {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
    padding-left: 1rem;
    letter-spacing: 0.75px;
}

.main-header-menu .item:hover {
    color: #C92071;
    font-weight: 700;
    text-decoration: underline #C92071 0.125rem;
}

