* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.content {
    width: 1239px;
    max-width: 95%;
    margin: 0 auto;
}


.linha1{
    display: flex;
    height: 550px;
}

.anúncio > h3 {
    color: orange; 
    font-family:sans-serif; 
    font-size: 16px;
    margin-top: 50px;
}
.anúncio > h2 {
    font-family:sans-serif; 
    font-size: 54px;
    font-weight: bold;
    margin-top:50px;
  
}
.anúncio > h4 {
    font-family:sans-serif; 
    /* font: size 18px;; */
    font-size: 15px;
    color:gray;
    margin-top: 50px;

    
}
button {
    text-align: center; 
    color: white; 
    background-color: #c92071; 
    border-radius: 8px; 
    width: 220px; 
    height: 48px; 
    font-size: 16px; 
    font-weight: bold; 
    letter-spacing: 0.75px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.bolinhas ul{
    display: flex;
    justify-content: center;
    list-style: none;
    position: static;
    top: 500px;
    right: 650px;
}

.bolinhas ul li{
    background-color: gray;
    font-size: 30px;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.bolinhas ul li:hover{
    background-color: #c92071;
}

.Tenis {
    width: 700px;
}
.anúncio{
    width: 440px;
}
.pontinhos {
    position: absolute;
top: 0px;
}
.fix-bolinhas{
    position:relative

}
.imagem{
    display: flex;
}
/* .banner{
    margin-left: 30px;
    margin-right: 30px;
} */