.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: #e5e5e5;
}

.carrinho {
  border: 1px solid blue;
  background-color: #ffffff;
  width: 890px;
  padding: 30px;
  border-radius: 4px;
  margin-right: 16px;

  /* TODO: Remover quando o conteúdo for implementado */
  height: 352px;
}

.resumo {
  border: 1px solid blue;
  background-color: #ffffff;
  width: 334px;
  padding: 30px;
  border-radius: 4px;

  /* TODO: Remover quando o conteúdo for implementado */
  height: 364px;
}

.elementos {
  display: flex;
  justify-content: space-between;
}

.elementos1 {
  display: flex;
  justify-content: space-between;
}

.elementos2 {
  display: flex;

  gap: 25px;
}

.elementos2 > p {
  font-size: 14px;
  color: #474747;
}

.elementos1 > p {
  font-weight: 700;
  font-size: 14px;
  color: #474747;
}
