.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #E5E5E5;

    
}

.carrinho {

    border: 1px solid blue;
    background-color: #FFFFFF;
    width: 890px;
    padding: 30px;
    border-radius: 4px;
    margin-right: 16px;

    /* TODO: Remover quando o conteúdo for implementado */
    height: 352px;
}

.resumo {

    border: 1px solid blue;
    background-color: #FFFFFF;
    width: 334px;
    padding: 30px;
    border-radius: 4px;
    
    /* TODO: Remover quando o conteúdo for implementado */
    height: 364px;
}
input{
    margin: 10px;
    border: none;
}
button{
    width: 274px;
    height: 40px;
    border-radius: 5px;
    background-color: #F6AA1C;
    color: #E5E5E5;
    border: none;
    font-size: 14px;
}
.valor{
    color: #EE4266;
}