/*  ------- Natan ------- */
section {
    display: flex;
    width: 100%;
    background-color: #F9F8FE;
}
html{
    padding: 0;
    margin: 0;
}

.img_principal{
    /* height: 500px;
    width: 1355px; */
    margin-top: 100px;
    /* background-color: rgb(247, 247, 247);   */
}
.navegacao{
    padding-top: 20px;
    padding-left: 70px;
    font-size: 15px;
}

.img{
    background-color: #E2E3FF;
    width: 500px;
    margin-top: 40px;
    margin-left: 70px;
    position: relative;
}

#imgTenis{
    width: 300px;
    padding: 100px 100px 100px 100px;
}

#setaEsquerda{
     position: absolute;
     bottom: 50%;
     right: 95%;
}

#setaDireita{
    position: absolute;
    bottom: 50%;
    left: 95%;
}
/*  ------- Natan ------- */

/* Miguel */

.text {
    height: 500px;
    padding-top: 150px;
    left: 841px;
    /* background-color: rgb(247, 247, 247); */
}


.tittle {
    font-size: 25px;
    font-weight: 700px;
    line-height: 36px;
    letter-spacing: 1px;
    width: 440px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.ref {color: #666666;
    
}

.avarengeRate {
    display: flex;
}

.price {
    display: flex;
}
.img_second {
    display: flex;
    margin-left: 60px;
    }
    
    .img_second > img {
    border-radius: 3px;   
    margin: 10px;
    padding: 20px 19px 20px 15px;
    width: 50px;
    }
    .tenis-1 {
    
    background:#E2E3FF;
    
    }
    
    .tenis-2{
    background: #FFE8BC;
    
    }
    
    .tenis-3 {
    background: #FFC0BC;
    
    }
    
    .tenis-4 {
        background: #DEC699;
    
    }
    
    .tenis-5 {
        background: #E8DFCF;
    
    }
    @media(max-width:600px)
    {
        section{
            display:flex;
            flex-direction: column;
            background-color: #E5E5E5;
            width: 100%;
        }
    }