
.destaqueItem{
    background-color: #d8e3f2;
    width: calc((100% - 1.5rem)/3);
    height: 15rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
.destaqueItem .destaqueItemInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    z-index: 1;
}

.destaqueItemDiscount {
    background-color: #E7FF86;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.destaqueItemName{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 90%;
    font-size: 200%;
}
.destaqueItemImage{
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 60%;
}

.destaqueItemButton{
    color: #c92071;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
}



@media (max-width:1150px){
    .destaqueItemImage{
        width: 60%;
    }
   }

   @media (max-width:900px){
    .destaqueItem{
       width: 110%;
    }
    .destaqueItemImage{
       width: 40%;
    }
    .destaqueItemName{
        width: 120%;
        font-size: 220%;
    }
    .destaqueItemButton{
        font-size: 120%;
    }
   }

   @media (max-width:600px){
    .destaqueItem{
        width: 20.5rem;
    }
    .destaqueItemName{
        width: 80%;
        font-size: 220%;
    }
   
   }