.main-footer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  color: #fff;
   
}

.colunm {
  margin-left: 10px;
  margin-right: 10px;
}


footer {

  background-color: #1F1F1F;
  bottom: 0;
  background-size: auto 100%;
  padding: 20px 40px 10px 40px ;
  
}
#footer-1{
  
  font-size: 16px;
  width: 300px;

}

#logo {
  margin-bottom: 25px;
}

#p-footer1 {
  margin-bottom: 30px;
  
}

#footer-2 {
 font-size: 16px;
 display: flex;
 flex-direction: column;
 

}

#h-footer2 {
  font-size: 18px;
  margin-bottom: 20px;
}

#footer-3 {
  font-size: 16px;
 display: flex;
 flex-direction: column;
}

#h-footer3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#footer-4 {
  font-size: 16px;
 display: flex;
 flex-direction: column;
 width: 300px;
}

#h-footer4 {
  font-size: 18px;
  margin-bottom: 20px;
 
}
#p-footer4 {
  margin-bottom: 30px;
  
}

#n-footer4 {
  margin-bottom: 30px;
}


a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  cursor: pointer;
}


#line {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.copy{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
span {
  font-size: 13px;
  color: #fff;
  
}

@media (max-width: 425px) {

  footer {
    padding-left: 20px;
    
  }

  .main-footer {
    padding-right: 30px;
  }

  #logo {
    height: 20%;
    width: 60%;
  }

  .colunm {
    margin-top: 40px;
  
  }

  

}