.main-header #botaoEntrar {
    width: 114px;
    height: 40px;
    border-radius: 10px;
    background-color: #c92071;
    color: white;
    border-width: 0px;
    margin-right: 70px;
    cursor: pointer;
}