.title {
    color: red;
}

.container {
    width: 1240px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: 23%;
}

.product-card img {
    width: 100%;
}